:javascript
  $(document).ready(function() {
    $(".ellipsis").dotdotdot({
      height: 60
    });
  });


.content
  .content_resize
    #search_form.pure-form
      %form{:action => "search", :controller => "index", :method => "get"}
        %input#tb_search{:name => "term", :type => "text", :value => @term}
        %input#bt_search{:type => "submit", :value => "Search!", :class => "pure-button pure-button-active button-xlarge"}
    %br/
    
    .results
      - if @profiles.empty?
        %h3.center No Results Found
      - else 
        %h3.center Results 
        :javascript
          $(function(){
            $("#res").dataTable( );
          })
                    
        %table#res
          %thead
            %tr
              %th 
          %tbody
            
            - @profiles.each do |profile|
              %tr  
                %td            
                  %a.div_link{:href => profile_path(profile.user_id)}
                    .result
                      
                      %img.thumb{:height => "100", :src => asset_path("default.png"), :width => "100"}
                        %strong
                          = profile.name
                          %br
                       
                          %strong Keywords:  
                        - @keywords[profile.user_id].each do |keyword|
                          = keyword.key.capitalize + ';'
                        %br
                        %div{:class => 'ellipsis'}
                          = profile.description
