%div{:class=> "content"}
  %div{:class=> "content_resize"}

    %div{:id => "search_form"}
      %form{:controller => 'index', :action => 'search', :method => 'get'}
        %input{:name => "term", :type => "text", :id => "tb_search", :value => @term}
        %input{:type => "submit", :value => "Search!", :id => "bt_search"}
    %br
    
    - if @istermnull==1
      %h3{:class => "center"} No Results Found
    - else
      %h3{:class => "center"}  Results  
    %div{:class=> "results"}
      - @profiles.each do |profile|
        %a.div_link{:href => user_path(profile.user_id)}
          %div{:class=> "result" }
            %img{:class => "thumb", :height => "100", :width => "100", :src => asset_path("default.png")}
              %strong= profile.name
              %p.oflow= profile.description
              %span.keywords
                %strong Keywords:
              - @keywords[profile.user_id].each do |keyword|
                =keyword.key + ';'
