<div id="password" class="password-field">
  <%= form.password_field :password,:placeholder=>'Password' %>
</div>
<br/>
<div id="re-password" class="password-field">
  <%= form.password_field :re_password,:placeholder=>'Re-type Password' %>
</div>
