%div{:class=>'password-field'}
  %input{:id=>'password',:type=>'password',:placeholder=>'New Password',:name=>'password'}
%br
%div{:class=>'password-field'}
  %input{:id=>'re_password',:type=>'password',:placeholder=>'Retype Password',:name=>'re_password'}