%div{:class => "content"}
	%div{:class => "content_resize"}
		%div{:id => "invite_form", :align=>'center'}
			%form{:class=>'pure-form pure-form-stacked', :controller => :users, :action => :forgot_action, :method => 'post'}
				= label :user, :email, "Email:"
				= text_field :user, :email, :onBlur=>"return validateEmail(this);"
				%br
				%input{:type => "submit", :value => "Reset my password", :class=>"pure-button pure-button-active button-large"}
