<div class="content">
  <div class="content_resize">
    <script>
     function checkForm(form)
    { 
      document.getElementById("length").style.color = "default";
      document.getElementById("numeric").style.color = "default";
      document.getElementById("uppercase").style.color = "default";
      document.getElementById("lowercase").style.color = "default";
      if(form.user_password.value != "" && form.user_password.value == form.user_re_password.value) {
        if(form.user_password.value.length < 6) {
          document.getElementById("user_password").style.borderColor = "red";
          document.getElementById("user_re_password").style.borderColor = "red";
          document.getElementById("length").style.color = "red";
          alert("Error: Password must contain at least six characters!");
          form.user_password.focus();
          return false;
        }
        re = /[0-9]/;
        if(!re.test(form.user_password.value)) {
          alert("Error: password must contain at least one number (0-9)!");
          document.getElementById("user_password").style.borderColor = "red";
          document.getElementById("user_re_password").style.borderColor = "red";
          document.getElementById("numeric").style.color = "red";
          form.user_password.focus();
          return false;
        }
        re = /[a-z]/;
        if(!re.test(form.user_password.value)) {
          document.getElementById("user_password").style.borderColor = "red";
          document.getElementById("user_re_password").style.borderColor = "red";
          document.getElementById("lowercase").style.color = "red";
          alert("Error: password must contain at least one lowercase letter (a-z)!");
          form.user_password.focus();
          return false;
        }
        re = /[A-Z]/;
        if(!re.test(form.user_password.value)) {
          document.getElementById("user_password").style.borderColor = "red";
          document.getElementById("user_re_password").style.borderColor = "red";
          document.getElementById("uppercase").style.color = "red";
          alert("Error: password must contain at least one uppercase letter (A-Z)!");
          form.user_password.focus();
          return false;
        }
      } else {
        alert("Error: Please check that you've entered and confirmed your password!");
        document.getElementById("user_password").style.borderColor = "red";
        document.getElementById("user_re_password").style.borderColor = "red";
        form.user_password.focus();
        return false;
      }
      return true;
    }
    </script>
    <div id="password_container" class="pass_class">
    <div id="clearance" class="sign-up-div">
      <h3>Set your password</h3>

      <%= form_for @user, url: @url,:html=>{method: :put, :class=>'pure-form',:onSubmit=>'return checkForm(this);'} do |form| %>
      <div id="password" class="password-field" >
        <%= form.password_field :password,:placeholder=>'Password' %>
        <br/>
        <br/>
        <%= form.password_field :re_password,:placeholder=>'Re-type Password' %>
      </div>
      <br/>
      <div class="submit-field">
        <%= form.submit "Submit", :class=>"pure-button pure-button-active button-large"%>
      </div>

      <% end %>
      </div>
      <div id="note" >
      <span>
        <div> Your password must meet the following criteria<br/></div>
          <div id="length"> - Password should be atleast 6 characters long<br/></div>
          <div id="uppercase"> - Password should contain atleast 1 upper case character<br/></div>
          <div id="lowercase"> - Password should contain atleast 1 lower case character<br/></div>
          <div id="numeric"> - Password should contain atleast 1 numeric character<br/></div>
      </span>
    </div>
    <div class="clear-both"></div>
  </div>
    
  </div>
</div>
