%div{:class=> "content"}
  %div{:class=> "content_resize"}
    %span Description
    %br
    %br
    %br
    %br

    %form
      Search:
      %input{:name => "search", :type => "text", :id => "search"}
      %br
        %button{:type => "button"} Search!
        %br
