
<<<<<<< HEAD
<<<<<<< HEAD
=======
.links
	= link_to 'Admin Page', admin_path
>>>>>>> feature to admin screen
=======

=======
>>>>>>> 7c26e2d6d1fd3b94992c4497664d6cb7adead250
.links
	= link_to 'Admin Page', admin_path
>>>>>>> redesigned routes and removed user resource
