<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>AggieExperts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style_home.css" rel="stylesheet" type="text/css" />
<link href="style_login.css" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
</head>
<body>
<div class="main">
<div class="header">
<div id="bar">
<div class="header_resize">
<div class="nav_menu">
<ul>
<li class="active"><a href="#home">Home</a></li>
<li><a href="#contactus">Contact Us</a></li>
</ul>
</div>
<div id="container">
<div id="loginContainer">

</div>
</div>
</div>
<div class="clr"></div>
</div>
</div>

<div class="content">
<div class="content_resize">
<div class="mainbar">
<div class="article">
<h2>Content</h2>
</div>
<div class="clr"></div>
</div>
<div class="sidebar">
<div class="gadget">
<h2 class="star">Sidebar</h2>
<ul class="sb_menu">
</ul>
</div>
</div>
<div class="clr"></div>
</div>
</div>

<div class="footer">
<div class="footer_resize">
</div>
<div class="clr"></div>
</div>
</div>
</body>
</html>
