.thumb {
    display: inline;
    float: left;
    padding-right: 10px;
    height: 110px;
}

.results {


}
.center {
    text-align:center;
    margin:0px auto;
}

.result {
    border: 1px solid #dbdbdb;
    margin: 10px;
    padding: 20px;
    height: 110px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.oflow {
    display       : inline;
    text-overflow : ellipsis;
    height        : 60px;
    width         : 700px;
    overflow      : hidden;
}

.keywords {
    margin-left: 110px;

}

.div_link { text-decoration: none;
    color: #000; }

