.thumb {
    display: inline;
    float: left;
    padding-right: 10px;
    clear:right;
}

.center {
    text-align:center;
    margin:0px auto;
}

.result {
    border: 1px solid #dbdbdb;
    padding: 20px;
    height: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.keywords {
    margin-left: 110px;

}



.div_link { 
    text-decoration: none;
    color: #000 !important; 
}

.div_linkdes { 
    text-decoration: none;
    color: #000 !important; 
}
