.box#photo {
    padding-top: 0;
    padding-bottom: 10px;
}
.profile_pic {
    border: none;
}

.box#contact_info {
    padding-top: 0;
    padding-bottom: 0;
}

.box#name {
    padding-top: 0;
}

.box {
    padding-top: 10px;
    padding-bottom: 10px;
}

table#parent {
    border-collapse: separate;
    border-spacing: 20px;
}

#parent tr {
    vertical-align:top;
}

table#contact_info {
    border:0;
    padding:0;
}

table#publications {
    margin:0;
    padding:0;
    width: 100%;
}

.box#contact_info tr {
    margin:0;
    padding:0;
}

.bold_1 {
    color: maroon;
    font-size:2rem;
    font-weight:bold;
}

.bold_2 {
    color: maroon;
    font-size:1rem;
    font-weight:bold;
}

.bold_3 {
    color: maroon;
    font-size:0.8rem;
    font-weight:bold;
}

.bold {
    font-weight:bold;
}

.bold_2#heading {
    margin: 1px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

textarea.bio {
    resize: none;
    width: 100%;
    height: 150px;
    padding-top: 5px;
}

input.publication {
    width: 100%;
    height: auto;
    border: none;
}

td.pub {
    width: 50%;
}

input {
    border:1px solid gray;
}

.notice {
    background-color: yellow;
    color: red;
    font-weight: 200;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.right_column {
    width: 550px;
}

.left_column {
    width: 220px;
}

textarea.contact {
    height: 15px;
    width: 125px;
    resize: none;
    white-space: nowrap;
}

textarea.bold_1 {
    width: 100%;
    height: 40px;
    resize: none;
    white-space: nowrap;
    padding: 0px;
}

textarea.publication {
    resize: none;
    width: 95%;
    height: 50px;
    padding-top: 5px;
}

#edit_content .kboxes {
    resize: none;
    height: 20px;
    margin: 0;
    width: 250px;
    padding-top: 5px;
}

td.left {
    text-align: left;
}

.box#keywords {
    width: 100%;
}

#edit_content textarea {
    border-radius: 5px;
    border-color: #d3d3d3;
    padding-left: 5px;
    overflow:hidden;
}

.kboxes {
    border-radius: 5px;
    border-color: #d3d3d3;
    padding-left: 5px;
    overflow:hidden;
}

.box#name select {
    padding-top: 2px;
    height: 43px;
    width: 120px;
    -webkit-appearance: menulist;
    border-radius: 5px;
    border-color: #d3d3d3;
    background: none;
}

.box#name table {
    width: 100%;
    margin: 0;
    padding: 0;
}

.box#name td.title {
    width: 40px;
    padding: 0;
}

.italic_small {
    color: maroon;
    font-style: italic;
    font-size:xx-small;
}

input.file_upload {
    border-radius: 5px;
    border-color: #d3d3d3;
    width: 193px;
}

.submit {
    float: right;
    padding: 20px;
}